/* need footer changed - or stick to bottom/remove margin in description box */


.jumbotron {
  /*  background-color: azure; */
    /*background-image: url("https://hdwallsource.com/img/2015/2/chalkboard-wallpaper-45741-46994-hd-wallpapers.jpg"); */
    /*background-image: url("https://www.fbcgallatin.org/wp-content/uploads/2016/10/chalkboard.jpg");*/
    background-image: url("http://www.multiversidadreal.edu.mx/wp-content/uploads/2016/01/pizarron.jpg");
    color: white;
    text-align: center;
    margin-top: 20px;
    border: solid 6px rgba(231, 189, 134, 0.514);
    border-radius: 25px;
    margin-left: 150px
    
}

.sidebar {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 5px;
    padding: 10px;
    width: 180px;
    height: 720px;
    float:left;
    border:solid 6px black;
    border-radius: 10px;
}


nav  {
    color: black;
    text-decoration: none;
    padding-left: 15px;
    margin-top: 175px;
    font-size: 30px;
    
}

.home creators about news{
    margin-bottom: 10px;
}


h1 {
    font-size: 50px;
}

h3 {
    font-size: 30px;
}

body {
    font-family: 'Raleway', sans-serif;
    background-image: url("../images/lettersbackground");
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.input-group {
    margin-bottom: 20px;
}

.button {
    background-color: azure;
    padding: 10px 25px;
    border-radius: 8px;
    font-size: 20px;
    border: solid 2px black;
    margin:right 5px;
    margin-left: 150px;
}

#audioplayer {
    margin-top: 350px;
    margin-left: 145px;
    height: 70px;
    width: 500px;
    border: solid black;
    border-radius: 25px;
    background-color: white;
}

#pButton{
	height:60px;
    width: 60px;
    border: none;
	background-size: 50% 50%;
    background-position: center;
    float: left;
   
   
}

.play{
    background: url('https://image.freepik.com/free-icon/play-button-arrowhead_318-43739.jpg') no-repeat;

}
.pause{background: url('../images/pause.png') no-repeat;}


#timeline{
	width: 400px;
	height: 20px;
	background: rgb(153, 233, 233);
	margin-top: 20px;
	float: left;
	border-radius: 15px;
}

#playhead{
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin-top: 1px;
	background: black;
}


.definition {
    width: 500px;
    height: 300px;
   /* overflow: scroll; */
    margin-top: 20px;
    margin-bottom: 200px;
    margin-left: 130px;
    clear: both;
    float: left;
    position: absolute;
    border: solid 6px rgba(231, 189, 134, 0.514);
    padding: 10px;
    font-size: 20px;
    color: white;
    /*background-color: azure; */
    /*background-image: url("https://www.fbcgallatin.org/wp-content/uploads/2016/10/chalkboard.jpg");*/
    /*background-image: url("https://hdwallsource.com/img/2015/2/chalkboard-wallpaper-45741-46994-hd-wallpapers.jpg"); */
    background-image: url("http://www.multiversidadreal.edu.mx/wp-content/uploads/2016/01/pizarron.jpg");
    border-radius: 25px;
    /* position: absolute; */
   
}

.firebase {
    width: 450px;
    height: 400px;
   /* overflow: scroll; */
    margin-top: 5px;
    margin-bottom: 200px;
    margin-left: 650px;
    clear: both;
    float: right;
    position: absolute;
    border: solid 6px rgba(231, 189, 134, 0.514);
    padding: 10px;
    font-size: 20px;
    color: white;
    /*background-color: azure; */
    /*background-image: url("https://www.fbcgallatin.org/wp-content/uploads/2016/10/chalkboard.jpg");*/
    /*background-image: url("https://hdwallsource.com/img/2015/2/chalkboard-wallpaper-45741-46994-hd-wallpapers.jpg"); */
    background-image: url("http://www.multiversidadreal.edu.mx/wp-content/uploads/2016/01/pizarron.jpg");
    border-radius: 25px;
    /* position: absolute; */
}

.scroll { 
    width: 12px;
    background-color: #F5F5F5;  
}

.scroll {
	border-radius: 10px;
	background-color: rgb(92, 86, 86);
}

/* About */

.description {
    width: 700px;
    height: 300px;
    margin-bottom: 200px;
    float: left;
    border: solid 6px rgba(231, 189, 134, 0.514);
    color: white;
    padding: 10px;
    font-size: 20px;
   /* background-color: azure;*/
    background-image: url("http://www.multiversidadreal.edu.mx/wp-content/uploads/2016/01/pizarron.jpg");
    border-radius: 25px;
}

/* Creators */

.one {
    width: 600px;
    height: 200px;
    margin-bottom: 50px;
    clear: both;
    float: left;
    border: solid black;
    padding: 10px;
    font-size: 20px;
    background-color: azure;
    border-radius: 25px;
      
}

.two {
    width: 600px;
    height: 200px;
    margin-bottom: 30px;
    clear: both;
    float: left;
    border: solid black;
    padding: 10px;
    font-size: 20px;
    background-color: azure;
    border-radius: 25px;
}

.three {
    width: 600px;
    height: 200px;
    margin-bottom: 150px;
    clear: both;
    float: left;
    border: solid black;
    padding: 10px;
    font-size: 20px;
    background-color: azure;
    border-radius: 25px;
}

.image {
    width: 100px;
    height: auto;
    margin-top: 5px;
    float: left;
    margin-right: 15px;
}

/* News */

.newsbox{
    width: 540px;
    height: 400px;
    margin-bottom: 200px;
    clear: both;
    float: left;
    border: solid 6px rgba(231, 189, 134, 0.514);
    padding: 10px;
    font-size: 20px;
    color: white;
    /*background-color: azure; */
    /*background-image: url("https://www.fbcgallatin.org/wp-content/uploads/2016/10/chalkboard.jpg");*/
    /*background-image: url("https://hdwallsource.com/img/2015/2/chalkboard-wallpaper-45741-46994-hd-wallpapers.jpg"); */
    background-image: url("http://www.multiversidadreal.edu.mx/wp-content/uploads/2016/01/pizarron.jpg");
    border-radius: 25px;
    /* position: absolute; */

}

/*footer {
    background-color: azure;
    border-top: 4px solid black;
   /* margin-bottom: 10px; */
   /* margin-top: 600px;
    padding-bottom: 10px;
    height: 100px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* clear: both; */
   /* font-size: 20px;
}*/



/*nav {
    margin-top: 25px;

}

nav a {
    color: black;
    text-decoration: none;
    margin-left: 15px;
    display: inline-block;
    border-left: 1px solid #efefef;
    padding-left: 15px;
    line-height: 18px;
}

nav a:first-child {
    border-left: 0 none;
}*/
